<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="MyConsoleApp" switchValue="Verbose">
        <listeners>
          <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="ETWListener" type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="13D5F7EF-9404-47ea-AF13-85484F09F2A7" />
          <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="MyConsoleApp">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>